force-app/main/default/flows/AutoCreateAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>AutoCreateAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoCreateAccount</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAccount</name>
        <label>CreateAccount</label>
        <locationX>328</locationX>
        <locationY>123</locationY>
        <assignRecordIdToReference>AddAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateCasewithAccountID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CaseVarObj.Prenom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CaseVarObj.Nom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NoCarteFidelite__c</field>
            <value>
                <elementReference>CaseVarObj.TECH_NoCarteFideliteFormulaire__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NoCarteUI__c</field>
            <value>
                <elementReference>CaseVarObj.TECH_NoCarteUIFormulaire__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>CaseVarObj.Courriel__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>481</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCasewithContactID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccVarObj</outputReference>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCASE</name>
        <label>GetCASE</label>
        <locationX>174</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDVar</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseVarObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nom__c</queriedFields>
        <queriedFields>Prenom__c</queriedFields>
        <queriedFields>Courriel__c</queriedFields>
        <queriedFields>TECH_NoCarteUIFormulaire__c</queriedFields>
        <queriedFields>TECH_NoCarteFideliteFormulaire__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCasewithAccountID</name>
        <label>UpdateCasewithAccountID</label>
        <locationX>483</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AddAccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCasewithContactID</name>
        <label>UpdateCasewithContactID</label>
        <locationX>480</locationX>
        <locationY>348</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIDVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>AccVarObj.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>GetCASE</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccVarObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AddAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Case ID variable that is filled from the process builder</description>
        <name>CaseIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseVarObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
