force-app/main/default/flows/mbe_test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>deserialiser</name>
        <label>deserialiser</label>
        <locationX>772</locationX>
        <locationY>98</locationY>
        <actionName>WSZ_AcquisitionIn</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ljsonStr</name>
            <value>
                <elementReference>acqInStr3</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>acqIn.lieu</assignToReference>
            <name>lieu</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>updateLieu</name>
        <label>updateLieu</label>
        <locationX>586</locationX>
        <locationY>97</locationY>
        <assignmentItems>
            <assignToReference>acqIn.lieu</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>zz</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acqInStr3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>deserialiser</targetReference>
        </connector>
    </assignments>
    <interviewLabel>mbe_test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>mbe_test</label>
    <loops>
        <name>jsonStr_Loop</name>
        <label>jsonStr Loop</label>
        <locationX>382</locationX>
        <locationY>97</locationY>
        <assignNextValueToReference>acqInStr3</assignNextValueToReference>
        <collectionReference>acqInStr</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateLieu</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>jsonStr_Loop</startElementReference>
    <status>Active</status>
    <variables>
        <name>acqIn</name>
        <apexClass>WSZ_AcquisitionIn</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>acqInStr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>acqInStr3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
