force-app/main/default/flows/Update_Nb_Entrant_sortant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ChooseFieldToUpdate</name>
        <label>ChooseFieldToUpdate</label>
        <locationX>496</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_Field_NbAppelsEntrants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nb_Appels_Entrants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseNbAppelEntrant</targetReference>
            </connector>
            <label>Update Field NbAppelsEntrants</label>
        </rules>
        <rules>
            <name>UpdateFieldNbAppelsSortants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nb_Appels_Sortants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseNbAppelsSortants</targetReference>
            </connector>
            <label>Update Field NbAppelsSortants</label>
        </rules>
        <rules>
            <name>UpdateFieldNbCourriersEntrants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nb_Courriers_Entrants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseNbCourriersEntrants</targetReference>
            </connector>
            <label>Update Field NbCourriersEntrants</label>
        </rules>
        <rules>
            <name>UpdateFieldNbCourriersSortants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nb_Courriers_Sortants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseNbCourriersSortants</targetReference>
            </connector>
            <label>Update Field NbCourriersSortants</label>
        </rules>
        <rules>
            <name>UpdateFieldNbFormulaireCOntact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nb_Formulaire_Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseNbFormulaireContact</targetReference>
            </connector>
            <label>Update Field NbFormulaireCOntact</label>
        </rules>
        <rules>
            <name>Update_Field_NbEmailsSortants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nb_Emails_Sortants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseNbEmailsSortants</targetReference>
            </connector>
            <label>Update Field NbEmailsSortants</label>
        </rules>
        <rules>
            <name>Update_Field_NbEmailsEntrants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FieldToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nb_Emails_Entrants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseNbEmailsEntrants</targetReference>
            </connector>
            <label>Update Field NbEmailsEntrants</label>
        </rules>
    </decisions>
    <formulas>
        <name>CaculNbCourriersEntrants</name>
        <dataType>Number</dataType>
        <expression>{!CaseToUpdate.NbCourriersEntrants__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculFormulaireContact</name>
        <dataType>Number</dataType>
        <expression>{!CaseToUpdate.NbFormulaireContact__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculNbAppelEntrants</name>
        <dataType>Number</dataType>
        <expression>{!CaseToUpdate.NbAppelsEntrants__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculNbAppelsSortants</name>
        <dataType>Number</dataType>
        <expression>{!CaseToUpdate.NbAppelsSortants__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculNbCourriersSortants</name>
        <dataType>Number</dataType>
        <expression>{!CaseToUpdate.NbCourriersSortants__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculNbEmailsSortants</name>
        <dataType>Number</dataType>
        <expression>{!CaseToUpdate.NbEmailsSortants__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalcuNbEmailsEntrants</name>
        <dataType>Number</dataType>
        <expression>{!CaseToUpdate.NbEmailsEntrants__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Nb Entrant / sortant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Nb Entrant / sortant</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>498</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChooseFieldToUpdate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseToUpdate.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseToUpdate.NbAppelsEntrants__c</assignToReference>
            <field>NbAppelsEntrants__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseToUpdate.NbAppelsSortants__c</assignToReference>
            <field>NbAppelsSortants__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseToUpdate.NbCourriersEntrants__c</assignToReference>
            <field>NbCourriersEntrants__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseToUpdate.NbCourriersSortants__c</assignToReference>
            <field>NbCourriersSortants__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseToUpdate.NbEmailsEntrants__c</assignToReference>
            <field>NbEmailsEntrants__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseToUpdate.NbEmailsSortants__c</assignToReference>
            <field>NbEmailsSortants__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseToUpdate.NbFormulaireContact__c</assignToReference>
            <field>NbFormulaireContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseNbAppelEntrant</name>
        <label>UpdateCaseNbAppelEntrant</label>
        <locationX>803</locationX>
        <locationY>291</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NbAppelsEntrants__c</field>
            <value>
                <elementReference>CalculNbAppelEntrants</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseNbAppelsSortants</name>
        <label>UpdateCaseNbAppelsSortants</label>
        <locationX>647</locationX>
        <locationY>379</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NbAppelsSortants__c</field>
            <value>
                <elementReference>CalculNbAppelsSortants</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseNbCourriersEntrants</name>
        <label>UpdateCaseNbCourriersEntrants</label>
        <locationX>85</locationX>
        <locationY>184</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NbCourriersEntrants__c</field>
            <value>
                <elementReference>CaculNbCourriersEntrants</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseNbCourriersSortants</name>
        <label>UpdateCaseNbCourriersSortants</label>
        <locationX>196</locationX>
        <locationY>60</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NbCourriersSortants__c</field>
            <value>
                <elementReference>CalculNbCourriersSortants</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseNbEmailsEntrants</name>
        <label>UpdateCaseNbEmailsEntrants</label>
        <locationX>78</locationX>
        <locationY>310</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NbEmailsEntrants__c</field>
            <value>
                <elementReference>CalcuNbEmailsEntrants</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseNbEmailsSortants</name>
        <label>UpdateCaseNbEmailsSortants</label>
        <locationX>274</locationX>
        <locationY>427</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NbEmailsSortants__c</field>
            <value>
                <elementReference>CalculNbEmailsSortants</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseNbFormulaireContact</name>
        <label>UpdateCaseNbFormulaireContact</label>
        <locationX>908</locationX>
        <locationY>138</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NbFormulaireContact__c</field>
            <value>
                <elementReference>CalculFormulaireContact</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>GetCase</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>NB_APPEL_ENTRANT : maj du champ nbAppelEntrant__c
NB_APPEL_SORTANT : maj du champ nbAppelSortant__c</description>
        <name>FieldToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>idCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
