force-app/main/default/flows/Utilisation_Coupon_Souscription_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Est_ce_qu_il_y_a_un_Case_Desabonnement</name>
        <label>Est-ce qu&#39;il y a un Case Desabonnement ?</label>
        <locationX>1290</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Oui_on_en_trouve_un</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mettre_jour_le_Case_CAT</targetReference>
            </connector>
            <label>Oui on en trouve un</label>
        </rules>
        <rules>
            <name>Non_y_en_a_pas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ne_rien_faire</targetReference>
            </connector>
            <label>Non y&#39;en a pas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_qu_il_y_a_un_code_promo</name>
        <label>Est-ce qu&#39;il y a un code promo ?</label>
        <locationX>539</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Oui_il_y_a_un_code_promo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaSouscription.CodePromo__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Rechercher_le_Case_Retention_CWB</targetReference>
            </connector>
            <label>Oui il y a un code promo</label>
        </rules>
        <rules>
            <name>Non_pas_de_code_promo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaSouscription.CodePromo__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Ne_rien_faire</targetReference>
            </connector>
            <label>Non pas de code promo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_qu_on_trouve_un_Case_Desabo_CAT</name>
        <label>Est-ce qu&#39;on trouve un Case Desabo CAT ?</label>
        <locationX>1034</locationX>
        <locationY>818</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Oui_on_en_trouve_un1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mettre_jour_le_Case_CAT</targetReference>
            </connector>
            <label>Oui on en trouve un</label>
        </rules>
        <rules>
            <name>Non_on_en_trouve_pas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rechercher_le_Case_Retention_CAT</targetReference>
            </connector>
            <label>Non on en trouve pas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_qu_on_trouve_un_Case_Retention</name>
        <label>Est-ce qu&#39;on trouve un Case Retention ?</label>
        <locationX>536</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Oui_il_y_en_a_un</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mettre_jour_le_Case_CWB</targetReference>
            </connector>
            <label>Oui il y en a un</label>
        </rules>
        <rules>
            <name>Non_il_y_en_a_pas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rechercher_le_Case_Desabonnement_CAT</targetReference>
            </connector>
            <label>Non il y en a pas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_qu_on_trouve_un_Case_Retention_CWB</name>
        <label>Est-ce qu&#39;on trouve un Case Retention CWB ?</label>
        <locationX>258</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mettre_jour_le_Case_CWB</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rechercher_le_Case_Desabonnement_CWB</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <interviewLabel>Utilisation Coupon Souscription/Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Utilisation Coupon Souscription/Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ne_rien_faire</name>
        <label>Ne rien faire</label>
        <locationX>866</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdSousc</elementReference>
            </value>
        </filters>
        <object>Zuora__Subscription__c</object>
        <outputAssignments>
            <assignToReference>IdSousc</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Recherche_la_souscription</name>
        <label>Recherche la souscription</label>
        <locationX>540</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_qu_il_y_a_un_code_promo</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdSousc</elementReference>
            </value>
        </filters>
        <object>Zuora__Subscription__c</object>
        <outputReference>LaSouscription</outputReference>
        <queriedFields>CodePromo__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Rechercher_le_Case_Desabonnement_CAT</name>
        <label>Rechercher le Case Desabonnement CAT</label>
        <locationX>810</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_qu_on_trouve_un_Case_Desabo_CAT</targetReference>
        </connector>
        <filters>
            <field>Motif__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>04- Desabonnement</stringValue>
            </value>
        </filters>
        <filters>
            <field>couponAbotiers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaSouscription.CodePromo__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>LeCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Rechercher_le_Case_Desabonnement_CWB</name>
        <label>Rechercher le Case Desabonnement CWB</label>
        <locationX>537</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_qu_on_trouve_un_Case_Retention</targetReference>
        </connector>
        <filters>
            <field>CouponWelcomeback__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaSouscription.CodePromo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Motif__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>04- Desabonnement</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>LeCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Rechercher_le_Case_Retention_CAT</name>
        <label>Rechercher le Case Retention CAT</label>
        <locationX>1033</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_qu_il_y_a_un_Case_Desabonnement</targetReference>
        </connector>
        <filters>
            <field>Motif__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>08- Retention</stringValue>
            </value>
        </filters>
        <filters>
            <field>R_sultat_R_tention__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refuse avec desabonnement</stringValue>
            </value>
        </filters>
        <filters>
            <field>couponAbotiers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaSouscription.CodePromo__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>LeCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Rechercher_le_Case_Retention_CWB</name>
        <label>Rechercher le Case Retention CWB</label>
        <locationX>537</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_ce_qu_on_trouve_un_Case_Retention_CWB</targetReference>
        </connector>
        <filters>
            <field>CouponWelcomeback__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaSouscription.CodePromo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Motif__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>08- Retention</stringValue>
            </value>
        </filters>
        <filters>
            <field>R_sultat_R_tention__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refuse avec desabonnement</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>LeCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Mettre_jour_le_Case_CAT</name>
        <label>Mettre à jour le Case CAT</label>
        <locationX>1291</locationX>
        <locationY>812</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Utilisation_Coupon_AboTiers__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mettre_jour_le_Case_CWB</name>
        <label>Mettre à jour le Case CWB</label>
        <locationX>534</locationX>
        <locationY>817</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Utilisation_Coupon_Welcome_back__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Recherche_la_souscription</startElementReference>
    <status>Draft</status>
    <variables>
        <name>IdSousc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LaSouscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Zuora__Subscription__c</objectType>
    </variables>
    <variables>
        <name>LeCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
